@font-face {
  font-family: "retro";
  src: url("/font/DungGeunMo.otf") format("truetype");
}
a {
  color: black;
  text-decoration: none;
}
div,
.row,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(172, 172, 172);
  overflow-x: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
}

#idcard {
  width: 200%;
  height: 180px;
  margin-bottom: 10px;
}

#chatInput {
  width: 100%;
  height: 100%;
}

#chatSubmit {
  width: 100%;
  height: 100%;
}

#chatRoom {
  box-sizing: border-box;

  transition-duration: 1s;
  transition-property: border;
}

#chatBg {
  z-index: -1;
}

.yourChat {
  padding-left: 10px;
  padding-right: 10px;

  height: 100%;
  /* width: 50%; */
  border: 1px solid black;
  border-radius: 0px 10px 10px 10px;
  margin-bottom: 5px;

  background: linear-gradient(white, #94e13a);

  display: block;
}

.myChat {
  text-align: end;
  padding-left: 10px;

  padding-right: 10px;

  height: 100%;
  /* width: 50%; */
  border: 1px solid black;
  border-radius: 10px 0px 10px 10px;
  margin-bottom: 5px;

  background: linear-gradient(white, #94e13a);

  display: block;
}

#chatSubmit {
  border: 1px solid black;
  margin-bottom: 5px;

  background: linear-gradient(white, #94e13a);
}

#profile img {
  width: 60px;
  height: 60px;

  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(180deg, #ffffff 0%, #94e13a 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;

  box-shadow: 0 0 0 1px black;
}

#chatName {
  padding-left: 15px;
  padding-right: 15px;

  font-size: 1.5rem;
}

#btnClean {
  border: none;
  background: none;
}

#chatCover {
  transition: all 1s;
  z-index: 12;
}

#chatCover img {
  width: 100%;
  height: 100%;

  /* box-sizing: border-box;
   */
}

#chatText {
  transition: all 1s;
}
