@font-face {
  font-family: "retro";
  src: url("/font/DungGeunMo.otf") format("truetype");
}

body {
  width: 100vw;
  height: 101vh;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);

  z-index: -1;
}

.show {
  display: block;
}

.playList {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.001);

  position: fixed;
  z-index: 11;
}

.playList .row {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.playBox .row {
  width: 100%;
  height: 100%;
}

.playBox {
  width: 60%;
  height: 40%;

  margin-bottom: 100px;

  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  border: 1px solid rgba(255, 255, 255, 0.85);

  overflow-y: auto;
}

.albumTitle {
  width: 200px;
  height: 200px;

  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front:hover {
  transform: scale(1.1);
  transition: transform 1s;
}
@keyframes bounce {
  50% {
    transform: scale(1.1);
  }
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  background-color: #2d2d2ddb;
  border-radius: 16px;

  width: 100%;
  height: 100%;
  overflow-x: hidden;
  box-shadow: 0px 10px 20px -7px #040031bb;
}

.albumDetail {
  color: white;
  width: 100%;

  overflow: auto;
}

.icon {
  width: 40px;
  height: 40px;
}

#Album_1 {
  width: 100%;
  box-shadow: 0px 10px 20px -7px #10095fbb;

  border-radius: 16px;

  /* backface-visibility: hidden; */
}

#Album_2 {
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 20px -7px #242424bb;

  border-radius: 16px;
}

#Album_3 {
  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  border: 1px solid rgba(255, 255, 255, 0.85);
}

.menu {
  bottom: 0px;
  width: 855px;

  position: fixed;

  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 50;
}

#menubar {
  object-fit: none;
  position: absolute;
  z-index: 0;

  bottom: 20px;
}

.tab {
  position: absolute;
  bottom: 50px;
  right: 70px;
}

.tab a {
  margin-left: 15px;
  margin-right: 15px;
}

#findJeans {
  transform: scale(0.8);
  position: absolute;

  left: 4%;
  top: 5%;
  z-index: 5;
}

.bg {
  width: 100vw;
  height: 101vh;
  position: relative;
  /* z-index: ; */
}

.stuff {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 1s;
  z-index: 2;
}

#shuffle {
  /* font-family: "retro"; */
  z-index: 10;

  position: absolute;
  top: 5%;
  right: 6%;
  /* transform: translate(-50%, 0); */

  border: solid 1px black;
  background: none;
  padding: 10px 30px;

  font-weight: 900;
}

#shuffle:hover {
  background: black;
  color: white;

  transition: all 1s;
}
